.dino-title {
    font-size: 16px;
    text-align: center;
    font-family: "Montserrat Alternates", sans-serif;
}
.dino-game {
    // margin-top: 36px;
}
.container {
    max-width: 1090px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
}

#canvass {
    border-bottom: 2px black solid;
    display: block;
    margin: 0 auto;
}
.dino-game__box #retryButton {
    position: relative;
}
#retryButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none; /* Початково ховаємо кнопку Retry */
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    
}
#retryButton:hover {
    background-color: #45a049;
}
.dino-line {
        background-color: #000000;
        height: 1px;
        width: 536px;
        margin: auto;
}

// .dino-info {
//     position: relative;
//     &::before {
//         content: '';
//     display: block;
//     position: absolute;
//     }
// }
// .overlay-text {
//     position: absolute;
//   background: rgba(47, 48, 58, 0.8);
//   width: 100%;
//   height: 70px;
//   top: 50%;
//   left: 50%;
//   opacity: 0;
//   transition: opacity 500ms;
// }
// .dino-info:hover .overlay-text {
//     opacity: 1;
// }