<!-- <section id="soccer">
    <div class="container">
        <div class="soccer-night">
            <div class="soccer-line"></div>
        <h3 class="soccer__title">Футбол</h3>
        <div class="border-field">
            <div id="field">
                <img src="./images/soccer/ball.png" alt="" id="ball">
            </div>
        </div>
        </div>
    </div>
</section> -->
<section id="soccer">
    <div class="container">
        <div class="soccer-line"></div>
        <h3 class="soccer__title">Футбол</h3>
        <div class="border-field">
            <div id="field">
                <img src="./images/soccer/ball.png" alt="" id="ball">
                <div class="gate__soccer"></div>
                <div class="left__gate">
                    <img class="left-gate__soccer" id="left-gate" src="./images/soccer/right-gate.png" alt="right-gate">
                </div>
                <div class="right__gate">
                    <img class="right-gate__soccer" id="right-gate" src="./images/soccer/left-gate.png" alt="left-gate">
                </div>
            </div>
        </div>

    </div>